html{
    height: 100%;
}
body{
    font-family: monospace;
    height: 100%;
}
ul{
    padding: 0;
    list-style: none;
}
nav{
    background: linear-gradient(180deg,rgb(21, 67, 96),gray,lightblue);
    position: fixed;
    padding: 0 2.5% 0 2.5%;
    top: 0;
    left: 4%;
    display: grid;
    align-content: center;
    text-align: center;
    grid-gap: 20px;
    width: 20%;
    max-width: 200px;
    height: 100%;
}
nav a img{
    display: none;
}
#menu{
    display: none;
    width: 20px;
}
.perfil{
    width: 100%;
    height: 200px;
    background-image: url("img/perfil.jpeg");
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    cursor: pointer;
}
.perfil:hover{
    filter: grayscale(.8);
}
.perfil img{
    padding: 80% 0 0 0;
    visibility: hidden;
}
.perfil:hover img{
    visibility: visible;
    filter: blur(0);
}
a{
    display: inline-block;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    color: white;
    font-size: large;
}
a:after {
    content: "";
    display: block;
    margin: auto;
    width: 0px;
    height: 2px;
    transition: all .5s;
}
a:hover:after {
    width: 100%;
    background: white;
}
main{
    display: grid;
    align-items: center;
    height: 100%;
    margin: 0 0 0 30%;
    font-family: 'Times New Roman', Times, serif;
}
#personal{
    display: grid;
}
#personal #name{
    position: relative;
    float: left;
    background: linear-gradient(270deg,rgb( 21,67,96),lightblue);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#personal #name span{
    position: absolute;
    right: 0;
    width: 0;
    background-color: white;
    border-left: 1px solid #000;
    animation: escribir 5s steps(30) infinite alternate;
}
#social{
    display: flex;
    justify-items: center;
    gap: 2rem;
}
#social a{
    text-align: center;
    width: 100%;
    scale: 0.5;
    height: auto;
}
#social a:hover{
    scale: 0.7;
}
#social a:hover img{
    filter: invert(.5);
}
.certificados{
    display: grid;
    text-align: center;
    gap: 10px;
    width: 100%;
    height: 100%;
}
.card{
    background: var(--i);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    box-shadow: 5px 10px 5px rgba(112,110,110, 0.8);
    filter: brightness(1.1);
    width: 95%;
    height: auto;
    mix-blend-mode: multiply;
}
.reverso{
    display: grid;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.6);
    transition: .5s;
}
.card:hover .reverso{
    color: red;
    opacity: 1;
}
#container{
    display: grid;
    width: 100%;
    height: 100%;
}
@media only screen and (max-width: 600px) {
    nav{
        display: grid;
        padding: 10px 0 0 0;
        justify-items: center;
        align-content: center;
        text-align: center;
        background: linear-gradient(180deg,rgb(21, 67, 96),gray,lightblue);
        top: 0;
        left: 2%;
        width: 10%;
        height: 100%;
    }
    nav a p{
        display: none;
    }
    nav a img{
        display: grid;
        margin: auto;
        width: 50%;
        filter: invert(100%);
    }
    .perfil{
        width: 80%;
        margin: 20px 10% 0 10%;
        height: 50px;
    }
    #flag{
        visibility: hidden;
    }
    #menu{
        display: contents;
        
    }
    main{
        display: grid;
        height: 100%;
        margin: 0 0 0 15%;
        font-family: 'Times New Roman', Times, serif;
    }

}
@keyframes escribir {
    from {width:0;}
    to {width:100%;}
}
