#informacion{
    display: grid;
    grid-gap: 10px;
}
.cardP{
    width: 400px;
    height: 300px;
    border-radius: 8px;
    position: relative;
}
.cardP .imgContent{
    width: 100%;
    height: 100%;
    border-radius: inherit;
}
.cardP .imgContent img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
    transition: 0.5s ease-in-out;
}
.cardP::after{
    content: "";
    border-radius: inherit;
    opacity: 0;
    transition: 0.4s ease-in-out;
}
.cardP:hover  img {
    filter: brightness(0.5) blur(4px);
}
.cardP:hover::after{
    opacity: 1;
}
.contenido{
    color: white;
    opacity: 0;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.cardP:hover .contenido{
    scale: 1;
    opacity: 1;
    transition: 0.4s;
}