html{
    height: 100%;
}
body{
    height: 100%;
    width: 100%;
    padding: 10% 0 0 0;
    background-color: lightgrey;
    display: grid;
    justify-content: center;
}
button{
    border: none;
    border-radius: 10px;
    background-color: lightgray;
}
#calculadora{
    background-color: whitesmoke;
    height: 50%;
    min-height: 250px;
    max-height: 400px;
    padding: 0%;
    border-radius: 10px;
    border: solid;
}
.pantalla {
    margin: 5% 5% 0 5%;
    width: 90%;
    height: 10%;
    border: 0;
    color: gray;
    background-color: lightblue;
}
#pantalla{
    margin: 1% 5% 1% 5%;
    height: 12%;
    font-size: x-large;
    text-align: end;
    color: black;
}
#botones{
    width: 90%;
    height: 80%;
    margin: 0 5% 0 5%;
}
#botones button:hover{
    border: solid black;
}
#botones button{
    width: 22%;
    height: 18%;
    margin: 1%;
}
#CE {
    background-color: brown;
    color: white;
}
#res{
    background-color: rgb(23, 23, 133);
    color: white;
}
.opera{
    background-color: gray;
    color: white;
}
