html{
    margin: 0;
    height: 100%;
    background-color: black;
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
body{
    margin: 0;
    display: grid;
    text-align: center;
    height: 100%;
    grid-template-rows: 15% 80% 5%;
    grid-template-columns: 15% 70% 15%;
    grid-template-areas:
    "head head head"
    "main main main"
    "food food food"
}
header{
    grid-area: head;
    background-color: black;
    text-align: start;
}
header img{
    height: 90%;
    margin: 10px 0 15px 20px;
    filter: brightness(1);
}
aside{
    grid-area: lado;
}
nav{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    grid-auto-flow: row;
    grid-auto-rows: 20%;
    overflow: hidden;
    overflow-y: scroll;
    grid-area: navbar;
    align-items: center;
    display: grid;
    background-color: rgba(0, 0, 0, 0.675);
}
nav div{
    align-content: center;
    height: 90%;
    margin: 0 5px 0 5px;
    border-radius: 22px;
    background-color: rgba(159, 158, 158, 0.218);
}
nav div:hover{
    cursor: pointer;
    background-color: rgba(252, 251, 251, 0.295);
}
nav a{
    text-decoration: none;
    color: white;
}
main{
    display: flex;
    margin: 0 auto;
    width: 100%;
    grid-area: main;
    scroll-behavior: smooth;
    overflow-y: scroll;
}
.card{
    justify-items: center;
    display: grid;
    margin:0 10px 0 10px;
    height: 100%;
    border-radius: 10px;
    grid-template-rows: 80% 20%;
    grid-template-areas: 
    "foto"
    "info";
    background-color: rgba(0, 0, 0, 0.8);
}
.card :hover{
    cursor: pointer;
}
.card h1{
    grid-area: name;
    font-size: large;
}
.card ul{
    list-style: none;
    grid-area: info;
    text-align: start;
    margin: 0;
}
.card img{
    grid-area: foto;
    filter: brightness(.9);
    height: 90%;
    width: auto;
}
.card ul img{
    width: 10%;
    filter: invert(1);
}
footer{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: small;
    grid-area: food;
    background-color: black;
    color: white;
    align-content: center;
}
::-webkit-scrollbar {display: none;}