html{
    height: 100%;
    background-color: black;
    background-image: url(img/parra.jpeg);
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
body{
    margin: 0;
    display: grid;
    height: 100%;
    grid-template-rows: 5% 90% 5%;
    grid-template-areas:
    "head"
    "main"
    "food"
}
header{
    grid-area: head;
    background-color: black;
    text-align: start;
}
header img{
    margin: 0 0 0 5px;
    filter: brightness(2);
}
main{
    margin: 0;
    padding: 0;
    width: 100%;
    grid-area: main;
}
.card{
    width: auto;
    height: 100%;
    display: grid;
    margin:5px;
    border-radius: 10px;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "info foto";
    background-color: rgba(0, 0, 0, 0.814);
    backdrop-filter: (1);
}
.card ul{
    align-content: center;
    margin: 0;
    overflow-y: scroll;
    list-style: none;
    line-height: 5ex;
    grid-area: info;
}
.card ul strong{
    color: rgba(243, 60, 60, 0.884);
}
.card img{
    align-content: center;
    filter: brightness(.8);
    margin: 0;
    height: 100%;
    width: auto;
    grid-area: foto;
}
footer{
    margin: 0;
    grid-area: food;
    background-color: black;
    color: white;
    align-content: center;
}
