body{
    text-align: center;
    background-color: black;
}
.carousel{
    filter: opacity(.5);
    height: 100%;
    position: absolute;
    z-index: 0;
}
main{
    display: grid;
    position: absolute;
    align-content: center;
    align-items: center;
    color: rgba(225,219,208,1);
    grid-template-areas: 
    "logo logo logo"
    "titulo titulo titulo"
    "boton boton boton"
    "none none año";
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: auto;
    z-index: 3;
}
main #logo{
    grid-area: logo;
    margin: 0 auto;
    width: 70%;
    z-index: 2;
}
main h1{
    grid-area: titulo;
    font-size: clamp(1.5rem,5vw,4rem);
    font-family: Montserrat;
    margin: clamp(.5rem,4vw,2rem) 0;
}
main h4{
    grid-area: año;
    font-size: clamp(.5rem,4vw,2rem);
    margin: 0;
    font-family: Montserrat;
}
button{
    grid-area: boton;
    font-family: Montserrat;
    font-size: clamp(.5rem,4vw,2.5rem);
    margin: 0 auto;
    width: 30%;
    background-color: rgba(101,41,51,1);
    color: rgba(225,219,208,1);
    border: none;
    border-radius: 1rem;
}
@media only screen and (max-width: 500px) {
    body{
        width: auto;
        height: 100%;
        background-color: rgba(101,41,51,1);
    }
    #carousel{
        display: none;
    }
    button{
        background-color: rgba(225,219,208,1);
        color: rgba(101,41,51,1);
    }
}