html{
    color: rgba(101,41,51,1);
    background-color: rgba(225,219,208,1);
}
body{
    display: grid;
    grid-template-rows: 0 100%;
    grid-template-areas: 
    "head"
    "main";
}
header {
    position: absolute;
}
header p{
    display: grid;
    grid-template-areas: 
    "foto title"
    "foto none";
}
header p image{
    grid-area: foto;
}
header p stronge{
    grid-area: title;
    margin: 5rem 0 0 0;
    font-family: Montserrat;
    font-size: 2rem;
}
header p stronge img{
    height: 10%;
    width: auto;
}
main{
    display: grid;
    grid-template-rows: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}
.card{
    display: grid;
    margin: 0 .5rem;
    grid-template-rows: 85% 15%;
    grid-template-areas: 
    "foto"
    "info";
}
.card p{
    margin: 0;
    text-align: center;
}
.card p img{
    grid-area: foto;
    margin: 0;
    filter: brightness(.9);
    height:100%;
    width: auto;
}
.info{
    display: grid;
    grid-area: info;
    width: 100%;
    margin: 0;
    background-image: url("../img/fondo.png");
    list-style: none;
    background-size: 4rem;
    border: .2rem solid rgb(57, 22, 28);
    border-radius: 1rem;
    text-align: center;
    font-family: Baskerville;
}
.info h2 {
    color: rgb(57, 22, 28);
    border-radius: 3rem;
    margin: auto 1rem;
    padding: 1rem 0;
    font-size: 2rem;
}
.remove{
    display: none;
}
.active{
    display: block;
}
.info div{
    margin: auto 1rem;
}
.info div p{
    display: inline;
    font-size: 1rem;
    width: 100%;
}
.info div p stronge{
    color:rgb(57, 22, 28);
    font-size: 2rem;
}
.info div img{
    width: 9%;
    filter: invert(.1);
}
@media only screen and (max-width: 600px) {
    body{
        grid-template-rows: 30% 70%;
    }
    header p stronge{
        grid-area: title;
        display: inline;
        margin-top: 2rem;
        font-size: 1.5rem;
    }
    .card{
        margin: 0 .1rem;
        grid-template-rows: 80% 20%;
        grid-template-columns: 80% 20%;
    }
    .info h2 {
        padding: 0;
        font-size: .8rem;
    }
    .info div p{
        font-size: .5rem;
    }
    .info div p stronge{
        font-size: 1rem;
    }
}